@use '/styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&family=Roboto+Condensed:wght@400;700&family=Work+Sans:wght@300&display=swap');

@keyframes typing {
    100%{
        left: 0%;
        
    } 
}
@keyframes bakx {
    0%{
        background-position: left;
        
    }
    100%{
        background-position: right;
        
    }
}

.container{
    padding: 0 3.5rem;
    position: sticky;
    z-index: 200;
    min-height: v.$container-height;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.75rem;
    background-color: v.$mod-gray;
    color: white;

    .left_portion{
        margin-top: -3.5rem;
        width: min(600px, 42%);

        .content{
            font-size: 32px;
            font-family: 'outfit', 'roboto condensed','inter';

            display: flex;
            flex-direction: column;

            & p:nth-of-type(1){
                background-color: v.$orange;
                // background-size: 200%;
                // animation: backx 3s linear infinite;
                background-clip: text;
                color: transparent;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 4px;
            }
            & p:nth-of-type(2){
                margin-left: -1px;
                font-weight: bold;
                font-size: clamp(2.5rem, 7vw, 2.75rem);
                word-spacing: 4px;
                letter-spacing: 1px;
                margin-bottom: 2rem;
            }
            & p:nth-of-type(3){
                font-size: 16px;
                font-family: 'outfit';
                letter-spacing: 1px;
                color: v.$light-gray;
                margin-bottom: 2px;
            }
            & p:nth-of-type(4){
                font-size: 16px;
                font-family: 'outfit';
                letter-spacing: 1px;
                color: v.$light-gray;
                margin-bottom: 4.75rem;
            }
        }
        .check{
            margin-bottom: 1.25rem;
            display: flex;
            align-items: center;
            gap: .5rem;

            & svg{
                height: 1.5rem;
            }
            .my_email{
                font-family: 'outfit';
                letter-spacing: 1.5px;
                font-weight: bold;
                font-size: 18px;
                padding-bottom: .75px;
            }
        }
        .links{
            display: flex;
            justify-content: flex-start;
            justify-content: space-between;
            max-width: 300px;
            align-items: center;

            & > a{
                cursor: pointer;
                transition: 250ms;
                padding: .52rem .62rem .4rem .62rem;
                border: 1px solid white;
                border-radius: 4px;
                
                
                &:hover{
                    
                    background-color: white;
                    border: 1px solid white;
                    & svg{
                        color: v.$orange;  
                        // transform: translate(0px, -2px);
                    }
                }
                & svg{
                    transition: 250ms;
                    
            }
        }}
    }
    .right_portion{
        width: min(600px, 40%);
        height: 78%;
        padding: 1rem;
        font-size: 20px;
        font-family: 'Outfit';
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contact{
            display: flex;
            flex-direction: column;
            
            & > div{
                margin-bottom: 1.5rem;
                display: flex;
                flex-direction: column;
                position: relative;
            }
            & label{
                font-size: 15px;
                margin-left: 2px;
                text-transform: uppercase;
            }
            .red_text{
                font-size: 13px;
                color: rgb(251, 132, 132);
                display: inline-block;
            }
            .inputs{
                margin-top: .25rem;
                border-radius: 8px;
                border: none;
                color: white;
                font-family: 'open sans';
                font-size: 16px;
                padding: .6rem .7rem;
                letter-spacing: .5px;
                outline: none;

                background-color: rgb(55, 59, 90);

                &:hover{
                    outline: 2px solid white;
                }   
                &:focus{
                    outline: 2px solid v.$green;
                }   
                &:last-of-type{
                    resize: none;
                }
            }


            & button{
                position: relative;
                margin-top: 8px;
                margin-left: 2px;
                border-radius: 3px;
                font-size: 16px;
                font-family: inherit;
                padding: .75rem;
                color: black;
                border: 2px solid v.$green;
                color: v.$green;
                background-color: transparent;
                transition: 250ms;
                max-width: 150px;
                letter-spacing: 1.5px;
                cursor: pointer;
                
                &:hover{
                    color: white;
                    background-color: v.$greenx;
                    letter-spacing: 4px;
                    border: 2px solid v.$greenx;
               }   
                
            }
            .sendButton{
                opacity: 0.85;
                color: white;
                background-color: v.$greenx;
                letter-spacing: 4px;
                border: 2px solid v.$greenx;
                pointer-events: none;

            }
        }
    }
}

@media (max-width: 1080px) {
    .container{
         gap: 4rem;
        .left_portion{
            margin-top: -3.5rem;
            width: 44%;
        }
        .right_portion{
            // margin-top: -3.5rem;
            width: 50%;
        }
    }
}
@media (max-width: 760px) {
    .container{
        min-height: v.$mcontainer-height;
        // position: relative;
        flex-direction: column;
        // top: 0;
        .left_portion{
            margin-top: 3rem;
            width: 100%;
        }
        .right_portion{
            // margin-top: -3.5rem;
            margin-bottom: 3rem;
            padding: 0;
            width: 100%;
        }
    }
}
@media (max-width: 760px) {
    .container{
        padding: 0 2rem;
        height: v.$mcontainer-height;
        .left_portion{

            .content{text-align: center;}
            .check{
                display: flex;
                justify-content: center;
            }
            .links{margin: 0 auto;}
        }
        .right_portion{
            display: none;
        }
    }
}

