$light-orange: #fc9e9e;
$orange: #ff8888;
// $dark-orange: #fb6b88;
$dark-orange: #fc7171;
$blue: #05366b;
$chosen-blue: #6DB5CA;
$purple: #a982ed;
$light-gray: rgb(230, 230, 240);
$mod-gray: rgb(43, 43, 70);
$gray: #383a55;
$dark-gray: rgb(46, 48, 75);
$light-blue: rgb(208, 236, 253);
$navy: #0a192f;
$green: #51f3f6;    
$bg-green: #5abdbd;
$greenx1: #43c4c7;
$greenx: #1da1a3;
$dark-green: #2d9395;
$headings: 'Outfit';
$header-height: 75px;
$mheader-height: 60px;
$mcontainer-height: calc(calc(100vh - $mheader-height) + 4px);
$container-height: calc(100vh - $header-height);


